
.imagenbanner {
  display: inline-flex;
  position: relative;
  object-fit: fill;
  width: 100vw;
  max-height:60vh;
}
@media screen and (max-width:640px){
    .imagenbanner{
        height:35vh;
        object-fit:cover;
    }
}
